body {
  font-family: 'Poppins', sans-serif;
}

section {
  scroll-margin-top: 4rem;
}

.text-blue {
  color: #63abd5;
}

.text-grey {
  color: #898989;
}

.wrapper {
  height: 100vh;
}

.sec-title {
  font-size: 42px;
}

.paragraf {
  font-size: 20px;
  color: #5c5c5c77;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.icon-wa {
  color: #29ba40;
  transition: all 0.5s ease;
}

.wa-btn:hover {
  background-color: #29ba40;
}

.icon-wa:hover {
  color: white;
  transition: all 0.4s ease-in;
}

/* NAVBAR */
.navbar-brand {
  color: #63abd5;
}

.navbar-brand:hover {
  color: #5598bf;
}

.navbar-brand:visited {
  color: #63abd5;
}

.nav-link:hover {
  font-style: bold;
  color: #5598bf;
}

.navbar-bg-white {
  background-color: white;
}

/* HERO */
.hero-container {
  height: 100vh;
}

.hero-title {
  font-size: 50px;
}

.hero-desc {
  color: #48484877;
}

.logo-brand-container {
  justify-content: end;
}

/* KURSUS MENGEMUDI */
#kursus-mengemudi {
  background-color: #f8fbfe;
}

.steer {
  width: 70px;
}

.bg-label-red {
  background-color: #ffe8e1;
}

.text-red {
  color: #ef3f18;
}

.text-real-red {
  color: red;
}

.text-orange {
  color: #ffa800;
}

.text-green {
  color: #368e63;
}

.bg-label-orange {
  background-color: #fff5e1;
}

.bg-label-grey {
  background-color: #efefef;
}

.bg-label-blue {
  background-color: #63abd5;
}

.bg-label-green {
  background-color: #e1fff1;
}

.desc-stir {
  font-size: 17px;
}

.red-card {
  transition-duration: 0.3s;
}

.orange-card {
  transition-duration: 0.3s;
}

.green-card {
  transition-duration: 0.3s;
}

.red-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 0.125rem 0.5rem #ef3f18 !important;
  transition-duration: 0.4s;
  color: black;
}

.orange-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 0.125rem 0.5rem #ff8a00 !important;
  transition-duration: 0.4s;
}

.green-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 0.125rem 0.5rem #368e63 !important;
  transition-duration: 0.4s;
}

.red-card:hover .steer {
  transform: rotate(360deg);
  transition: all 1s;
}

.orange-card:hover .steer {
  transform: rotate(360deg);
  transition: all 1s;
}

.green-card:hover .steer {
  transform: rotate(360deg);
  transition: all 1s;
}

.harga-cat {
  font-size: 18px;
}

.row-cat {
  width: 700px;
}

.container-list-cat {
  padding-left: 178px;
}

.icon-check {
  width: 30px;
}

.list-cat {
  list-style: none;
}

.list-font {
  font-size: 19px;
}

.line {
  border-bottom: 3px solid #63abd5;
  margin-left: 125px;
  margin-right: 125px;
}

.card-biro:hover {
  border: 1px solid #63abd5;
  border-left: 5px solid #63abd5;
  transform: scale(1.07);
}

.border-left-blue {
  border-left: 5px solid #63abd5;
}

.biro-text {
  font-size: 17px;
}

/* LOKASI KAMI */
#lokasi-kami {
  background-color: #f8fbfe;
}

/* FOOTER */
#footer {
  background-color: #63abd5;
}

.ul-social {
  list-style: none;
}

.social-icon {
  border: 2px solid white;
  padding: 3px;
}

.social-icon:hover {
  transform: scale(1.15);
}

footer {
  background-color: #63abd5;
}

a {
  text-decoration: none;
}

.foo-icon {
  margin-right: 10px;
}

.item-kontak-footer {
  color: white;
}

.wa-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: white;
}

/* MEDIA QUERY */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #hero {
    padding-bottom: 45px;
  }

  .hero-container {
    flex-direction: column-reverse;
  }

  .hero-title {
    font-size: 29px;
  }

  .logo-brand-container {
    justify-content: center;
    margin-bottom: 30px;
  }

  .img-brand {
    width: 80%;
  }

  .container-list-cat {
    padding-left: 30px;
  }

  .sec-title {
    font-size: 35px;
  }

  .paragraf {
    font-size: 18px;
  }

  .cat-item {
    padding-bottom: 20px;
  }

  .harga-cat {
    padding-left: 31px;
    font-size: 16px;
  }

  .desc-cat {
    font-size: 16px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container-list-cat {
    padding-left: 73px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 43px;
  }

  .container-list-cat {
    padding-left: 12px;
  }

  .desc-cat {
    font-size: 17px;
  }

  .harga-cat {
    font-size: 17px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hero-title {
    font-size: 55px;
  }

  .container-list-cat {
    padding-left: 178px;
  }

  .desc-cat {
    font-size: 18px;
  }

  .harga-cat {
    font-size: 18px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1024px) and (max-width: 1200px) {
  .container-list-cat {
    padding-left: 14px;
  }
}
